SSL Monitoring.json
{
  "name": "SSL Monitoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        0
      ],
      "id": "94bb7577-83b8-49fa-8351-238c3ecf4037",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=echo | openssl s_client -servername {{$json.domain}} -connect {{$json.domain}}:{{$json.port}} 2>/dev/null | openssl x509 -noout -enddate -fingerprint -sha256\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        48,
        0
      ],
      "id": "61bde3b7-79af-4f29-b788-9cd87f249d0a",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc86bfdd-06fd-4ef2-a233-806f4bb5877a",
              "leftValue": "={{$json.daysLeft}}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "1443dcf7-2549-4dcb-ae81-b6837b20eee5",
              "leftValue": "={{$json.daysLeft}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        0
      ],
      "id": "ae98f5da-4065-4a79-800c-ca5d450fdef5",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const output = $json.stdout;\n\n// Extract expiry date\nconst match = output.match(/notAfter=(.*)/);\nif (!match) {\n  throw new Error('Expiry date not found');\n}\n\nconst expiryDate = new Date(match[1].trim());\n\n// Calculate days left (TypeScript-safe)\nconst now = new Date();\nconst msLeft = expiryDate.getTime() - now.getTime();\nconst daysLeft = Math.floor(msLeft / (1000 * 60 * 60 * 24));\n\n// Return OBJECT (Function Item requirement)\nreturn {\n  expiryDate: expiryDate.toISOString(),\n  daysLeft\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "id": "695cdf62-a199-427c-8714-bbbbad152a72",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fromEmail": "vishal.anand@wyzmindz.com",
        "toEmail": "wasif.ahmed@wyzmindz.com",
        "subject": "=⚠️ SSL Certificate Expiry Alert – {{$json.daysLeft}} days remaining",
        "emailFormat": "text",
        "text": "=Hello Team,\n\nThis is an automated alert to inform you that an SSL certificate is nearing expiration.\n\nCertificate Details:\n--------------------\nDomain        : {{ $('Get row(s) in sheet').item.json.domain }}\nPort          : {{ $('Get row(s) in sheet').item.json.port }}\nExpiry Date  : {{$json.expiryDate}}\nDays Remaining: {{$json.daysLeft}}\n\nAction Required:\n----------------\nPlease renew the SSL certificate before it expires to avoid service disruption.\n\nThis notification was generated automatically by the SSL Monitoring system (n8n).\n\nRegards,\nSSL Monitoring Bot\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        976,
        -144
      ],
      "id": "a503a937-ab19-4633-bd69-39fdab9a578b",
      "name": "Send email",
      "webhookId": "c9365294-35f6-4999-8dd8-dee5cedaf66f",
      "credentials": {
        "smtp": {
          "id": "7kNLcw3pmv3FWaq8",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "vishal.anand@wyzmindz.com",
        "toEmail": "wasif.ahmed@wyzmindz.com",
        "subject": "❌ SSL Certificate Expired – Immediate Action Required",
        "html": "=Hello Team,\n\nThis is a critical alert. The following SSL certificate has already expired.\n\nCertificate Details:\n--------------------\nDomain       : {{ $('Get row(s) in sheet').item.json.domain }}\nPort         : {{ $('Get row(s) in sheet').item.json.port }}\nExpired On  : {{$json.expiryDate}}\n\nImmediate action is required to restore secure connectivity.\n\nThis notification was generated automatically by the SSL Monitoring system (n8n).\n\nRegards,\nSSL Monitoring Bot\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        976,
        128
      ],
      "id": "07831a1f-1287-4380-92c6-f76d2df80dd6",
      "name": "Send email1",
      "webhookId": "3214bea2-0b86-4a92-84ec-539e2b2e64c0",
      "credentials": {
        "smtp": {
          "id": "7kNLcw3pmv3FWaq8",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "28fd9d69-9e5e-4556-acb4-7181f0dddc4c",
              "leftValue": "={{$json.daysLeft}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "c9696959-9d40-439b-8b63-a2221150ab17",
              "leftValue": "={{$json.daysLeft}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        -16
      ],
      "id": "40a5c977-8589-4213-96d8-2995fa586ea2",
      "name": "If1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1R3Ya_yHfkhy-d3S5puv-87YMd7KQWJkWGxTrX0sUKaE",
          "mode": "list",
          "cachedResultName": "domain-n8n-sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R3Ya_yHfkhy-d3S5puv-87YMd7KQWJkWGxTrX0sUKaE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R3Ya_yHfkhy-d3S5puv-87YMd7KQWJkWGxTrX0sUKaE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        0
      ],
      "id": "34404431-1021-4f1b-b479-f18f561789be",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6XxZcHTBmWUlZVX9",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8858fc00-ffde-4353-94ec-7e3bc0064f1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c645d9be177ed29723e2f5824ec0595c289366bb90d67a6de46c574b38f8680d"
  },
  "id": "J18VN55N4rdIyfc9",
  "tags": []
}